.card{
    /* background-color: #a7a157; */
    width: 40%;
    margin: 100px 500px;
    text-align: center;
    height: 30%;
    font-size: 22px;
    border: 1px solid rgb(0, 0, 0); /* Green border */
    border-radius: 10px; /* Rounded corners */
    background-color:rgb(244, 242, 242); /* Light background */
   
}
.card h3 {
    background-color: #b7c393;
    color: white;
    padding: 10px; 
    margin: 0; /*filled the color*/
    border-radius: 10px 10px 0 0; /* Rounded top corners */
    text-align: center;
}